SECRET_KEY=your_secret_key_here
DEBUG=False

ALLOWED_HOSTS=example.com,www.example.com

# PostgreSQL: postgres://USER:PASSWORD@HOST:PORT/DB_NAME
# SQLite (lokal): sqlite:///db.sqlite3
DATABASE_URL=postgres://db_user:db_password@localhost:5432/db_name

DB_ENGINE=django.db.backends.postgresql
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=localhost
DB_PORT=5432

ADMIN_URL=your-secret-admin-path/

# Security Settings (Set to True in Production)
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
CSRF_TRUSTED_ORIGINS=https://example.com,https://www.example.com

# Redis for Channels/Live Chat
REDIS_URL=redis://127.0.0.1:6379/1